 <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="/Home/Index">
          <i class="bi bi-grid"></i>
          <span>Inicio</span>
        </a>
      </li><!-- End Home Nav -->

      <li class="nav-item" id="Categorias">
        
      </li><!-- End Categories Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/login/perfil">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
            <a class="nav-link collapsed" href="/login/LoginViewdos">
            <i class="bi bi-box-arrow-in-right"></i>
                <span>Iniciar sesión</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/login/registrar">
          <i class="bi bi-card-list"></i>
          <span>Registrarse</span>
        </a>
      </li><!-- End Register Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
